@namespace ACUI.FomanticUI
@inherits ACContentComponentBase

<CascadingValue Value="this" IsFixed="@true">
    <div class="@ClassMapper.Result"
         style="@StyleMapper.Result"
         id="@Id"
         @attributes="@Attributes">
        @if (!string.IsNullOrEmpty(Label))
        {
            <label style="@LabelStyleMapper.Result" class="@LabelClassMapper.Result" id="@($"{Id}_label")" @attributes="@LabelConfig?.Attributes">@Label</label>
        }
        @ChildContent
    </div>
</CascadingValue>
