@namespace ACUI.FomanticUI
@inherits ACContentComponentBase

<CascadingValue Value="this" IsFixed>
    <div class="@ClassMapper.Result"
         style="@StyleMapper.Result"
         id="@Id"
         tabindex="@Tabindex"
         @attributes="@Attributes">
        @ChildContent
    </div>
</CascadingValue>