@namespace ACUI.FomanticUI
@inherits ACOverlayItemComponentBase

<CascadingValue Value="this" IsFixed>
    @if (Link)
    {
        <a class="@ClassMapper.Result"
           style="@StyleMapper.Result"
           id="@Id"
           href="@Href"
           @attributes="@Attributes"
           @onclick="OnClickAsync">
            @if(ChildContent != null)
            {
                @ChildContent
            }
            else if(ValueTemplate != null)
            {
                @ValueTemplate
            }
            else
            {
                @Value
            }
        </a>
    }
    else
    {
        <div class="@ClassMapper.Result"
             style="@StyleMapper.Result"
             id="@Id"
             @attributes="@Attributes"
             @onclick="OnClickAsync">
            @if(ChildContent != null)
            {
                @ChildContent
            }
            else if(ValueTemplate != null)
            {
                @ValueTemplate
            }
            else
            {
                @Value
            }
        </div>
    }
</CascadingValue>