@namespace ACUI.FomanticUI
@inherits ACListComponentBase

<CascadingValue Value="this" IsFixed="true">
    <CascadingValue Value="@Auto" Name="BreadcrumbAuto">
        <div class="@ClassMapper.Result"
             style="@StyleMapper.Result"
             id="@Id"
             @attributes="@Attributes">
            @if (Chips?.Any() ?? false)
            {
                foreach (var chip in Chips)
                {
                    if (chip.Type == FBChipType.Section && chip is IFBSection section)
                    {
                        <FBSection Link="@section.Link" Href="@section.Href" Key="@section.Content">
                            @if (section.ContentTemplate != null)
                            {
                                @section.ContentTemplate
                            }
                            else
                            {
                                @section.Content
                            }
                        </FBSection>
                    }
                    else if (chip.Type == FBChipType.Section)
                    {
                        <FBSection>
                            @if (chip.ContentTemplate != null)
                            {
                                @chip.ContentTemplate
                            }
                            else
                            {
                                @chip.Content
                            }
                        </FBSection>
                    }
                    else if (chip is IFBDivider divider)
                    {
                        <FBDivider Icon="@(divider.Icon ?? AutoDividerIcon)">
                            @if (divider.ContentTemplate != null)
                            {
                                @divider.ContentTemplate
                            }
                            else
                            {
                                @divider.Content
                            }
                        </FBDivider>
                    }
                    else
                    {
                        <FBDivider Icon="@AutoDividerIcon">
                            @if (chip.ContentTemplate != null)
                            {
                                @chip.ContentTemplate
                            }
                            else
                            {
                                @chip.Content
                            }
                        </FBDivider>
                    }
                }
            }
            else
            {
                @ChildContent
            }
        </div>
    </CascadingValue>
</CascadingValue>