@namespace ACUI.FomanticUI
@inherits ACSonContentComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div class="@ClassMapper.Result"
         style="@StyleMapper.Result"
         id="@Id"
         @attributes="@Attributes">
        <div class="name">@Name</div>
        <div class="results transition @(VisibleResults ? "visible" : "hidden")">
            @ChildContent
        </div>
    </div>
</CascadingValue>