@namespace ACUI.FomanticUI
@inherits ACComponentBase

<CascadingValue Value="this" IsFixed>
        <div class="@ClassMapper.Result"
             style="@StyleMapper.Result"
             id="@Id"
             tabindex="@Tabindex"
             @attributes="@Attributes">
            DOTO
        </div>
</CascadingValue>

