@namespace ACUI.FomanticUI
@typeparam TKey
@inherits ACOverlayItemComponentBase<TKey>

<CascadingValue Value="this" IsFixed>
    <div class="@ClassMapper.Result"
         style="@StyleMapper.Result"
         id="@Id"
         @attributes="@Attributes"
         @onclick="@OnClickAsync"
         @onmouseover="@OnMouseoverAsync"
         @onclick:stopPropagation>
        @if (ValueTemplate == null)
        {
            @Value
            @if (Active)
            {
                <FIcon Colored="FColored.Black" Size="FSize.Mini" Set="check circle" Floated="FFloated.Right" />
            }
        }
        else
        {
            @ValueTemplate(this)
        }
        @ChildContent
    </div>
</CascadingValue>