@namespace ACUI.FomanticUI
@inherits FColumnBase
@typeparam TField

@if (IsInitialize)
{
    return;
}
else if (UseType == FColumUseType.Header)
{
    if (HideHeader)
        return;

    <th class="@TitleClassMapper.Result" style="@TitleStyleMapper.Result" @attributes="@TitleConfig?.Attributes" colspan="@ThColspan" rowspan="@ThRowspan">
        @if (TitleTemplate == null)
        {
            @(Title ?? DisplayName ?? FieldName ?? string.Empty)
        }
        else
        {
            @TitleTemplate
        }
    </th>
}
else
{
    <td class="@ClassMapper.Result" style="@StyleMapper.Result" @attributes="@Attributes" colspan="@TdColspan" rowspan="@TdRowspan">
        @if (ChildContent == null)
        {
            if (string.IsNullOrEmpty(Format))
            {
                @(Field?.ToString() ?? string.Empty)
            }
            else
            {
                @(Formatter<TField>.Format(Field, Format))
            }
        }
        else
        {
            @ChildContent
        }
    </td>
}