@namespace ACUI.FomanticUI
@inherits FButton

<CascadingValue Value="this" IsFixed="true">
    <button class="@ClassMapper.Result"
            style="position: relative; @StyleMapper.Result"
            id="@Id"
            type="@HtmlType"
            disabled="@Disabled"
            @attributes="@Attributes"
            @onclick="HandleOnClickAsync"
            @onmouseout="HandleOnMouseup"
            @onmousedown="HandleOnMousedown"
            @onmousedown:stopPropagation="@OnMousedownStopPropagation"
            @onmouseup="HandleOnMouseup"
            @onmouseup:stopPropagation="@OnMouseupStopPropagation"
            @onclick:stopPropagation="@OnClickStopPropagation">
        @if (Animated == null)
        {
            if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                @Content
            }
        }
        else
        {
            <div class="@VisibleClassMapper.Result" style="@VisibleStyleMapper.Result" id="@($"{Id}_visible")" @attributes="@VisibleConfig?.Attributes">
                @if (VisibleContent == null)
                {
                    @ChildContent
                }
                else
                {
                    @VisibleContent
                }
            </div>
            <div class="@HiddenClassMapper.Result" style="@HiddenStyleMapper.Result" id="@($"{Id}_hidden")" @attributes="@HiddenConfig?.Attributes">
                @HiddenContent
            </div>
        }
        @{
            var progressClass = $"ui bottom attached progress {ProgressClass ?? ""} {ProgressColored?.ToClass() ?? ""}";
            var progressStyle = $"position: absolute; bottom: 0px; left: 0px; width: 100%; {ProgressStyle ?? ""}";
        }
        <div class="@progressClass" Id="@($"{Id}_progress")" style="@progressStyle">
            <div class="bar" style="min-width: 4px; @($"{(!IsMouseup ? $"transition: width {((double)Delay + (double)Delay / 30) / 1000}s;" : "")}") @($"{(TimeTask != null && !IsMouseup ? "width:100%;" : "")}")" id="@($"{Id}_progress_bar")" />
        </div>
        @*<SProgress Id="@($"{Id}_progress")" Colored="@ProgressColored" Attached="SAttached.Bottom" Style="@($"position: absolute; bottom: 0px; left: 0px; width: 100%; {ProgressStyle}")" MaxValue="@MaxValue" CurrentValue="@CurrentValue" />*@
    </button>
</CascadingValue>
